<!DOCTYPE html>
<html>

<!--                                                                                                                     
  _____       _____       _____       _____       _____       _____       _____       _____       _____       _____ 
 |_____|     |_____|     |_____|     |_____|     |_____|     |_____|     |_____|     |_____|     |_____|     |_____|
                                                                                                                    
                                                                                                                    
 -->
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-sanitize.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link   rel="stylesheet" type="text/css" href="style.css">
<script src="buttons.js"></script>
<script src="data.js"></script>
<title>Talmudy</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">

<!--                                                                                                                     
  _____       _____       _____       _____       _____       _____       _____       _____       _____       _____ 
 |_____|     |_____|     |_____|     |_____|     |_____|     |_____|     |_____|     |_____|     |_____|     |_____|
                                                                                                                                                                                                                                      
 -->

 <table class="super-top-table">
	<tr>
		<td class="core-chunk chunk2">Search<br><input type="text" name="Google" ng-model="searchText" placeholder="Talmudy"></input></td>
 		<td class="core-chunk chunk3"><hr>{{(titles | filter:searchText).length}}<hr></td>
		<td class="core-chunk chunk1">
			<table>
			   <tr><td class="talmudi-title" colspan="7">Talmudy</td></tr>
			   <tr><td><button id="nav11" class="znav c1">A</button></td>
				   <td><button id="nav22" class="znav c2">1</button></td>
				   <td><button id="nav33" class="znav c3">B</button></td>
				   <td><button id="nav44" class="znav c4">2</button></td>
				   <td><button id="nav55" class="znav c5">.</button></td>
				   <td><button id="nav66" class="znav c6">.</button></td>
				   <td><button id="nav77" class="znav c7">.</button></td></tr>
				<!-- <tr><td class="talmudi-title" colspan="7">Beta</td></tr> -->
				</table></td>
 		
 		<td class="core-chunk chunk4">Torah<br><select ng-model="searchText" placeholder="Torah"><option ng-repeat="t in torah">{{t.key}}</option></select></td> 	
 		<td class="core-chunk chunk5">Talmud<br><select ng-model="searchText" placeholder="Volume"><option ng-repeat="v in volumes">{{v.key}}</option></select></td>
  </table>


<!--                                                                                                                     
  _____       _____       _____       _____       _____       _____       _____       _____       _____       _____ 
 |_____|     |_____|     |_____|     |_____|     |_____|     |_____|     |_____|     |_____|     |_____|     |_____|
                                                                                                                                                                                                                                        
 -->

	<table class="master">
		<tr class="r alternate" ng-repeat="x in titles | filter:searchText | orderBy: sortColumn">
				<td class="center col1">{{x.l}}</td>
				<td class="center col2">{{x.bn}}</td>
				<td class="center col3">{{x.v}}</td>
				<td class="center col4">{{x.p}}<sup><sup>{{x.s}}</td>
				<td class={{x.c}}><span class="title-area cool col5" ng-click="addToTitleHistory(x);">{{x.t}}</span>
					<small><small><div class="col6" ng-bind-html="x.q"></p></td></tr>	
	</table>

<!--                                                                                                                     
  _____       _____       _____       _____       _____       _____       _____       _____       _____       _____ 
 |_____|     |_____|     |_____|     |_____|     |_____|     |_____|     |_____|     |_____|     |_____|     |_____|
                                                                                                                                                                                                                                        
 -->

 <div class="all-buttons">
	<div class="large-red-toggle sideways" id="toggle-button">-- TOGGLE NAVIGATION --</div>
</div>



</body>
</html>

 
