.super-top-table {
  position:fixed;
  z-index:1000;
  top:0%;
  height:20%;
  background-color:black;
  border:10px solid green;
  width:100%;

}

.core-chunk {
  width:20%;
  border:3px solid blue; 
  text-align:center;
  font-size:40px;
  font-family:Arial;
}

.chunk3 {
  font-size:30px;
  font-family:Arial;
}

.talmudi-title {
  /*font-family:Times;*/
  font-size:30px;
  text-align:center;
}

.tiny-font {
  font-size:20px;
  text-align:center;
}

/*
  _____   _____   _____   _____   _____   _____   _____   _____   _____   _____   _____ 
 |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____|
 |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____|
                                                                                                                                                                               
*/
/*
  _____   _        ___   __        __     ____   ____    ____  
 |  ___| | |      / _ \  \ \      / /    / ___| / ___|  / ___| 
 | |_    | |     | | | |  \ \ /\ / /    | |     \___ \  \___ \ 
 |  _|   | |___  | |_| |   \ V  V /     | |___   ___) |  ___) |
 |_|     |_____|  \___/     \_/\_/       \____| |____/  |____/ 
                                                                                                                         
*/
/*
  _____   _____   _____   _____   _____   _____   _____   _____   _____   _____   _____ 
 |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____|
 |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____|
                                                                                                                                                                                
*/

div.circle {
  -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
  border: solid 21px #f00;
  width: 50px;
  height: 50px;
}

.master td {
    padding:10px;
}


td a:hover { 
    display:block;
    /*padding:50px;*/
    /*color:white;*/
}


#navbar2 a:hover {
    background-color: #ddd;
    color: black;
}

* { 
	font-family: Papyrus,fantasy; 
}

@keyframes example {
    0%   {font-color:red;}
    25%  {font-color:yellow;}
    50%  {font-color:blue;}
    75%  {font-color:green;}
    100% {font-color:red;}
}
</style>

/* The element to apply the animation to */

td {
    width: 30px;
    height: 30px;
    /*background-color: black;*/
    
    
}

.floater {
	position:fixed;
	top:10px;
	right:20px;
	padding: 10px;
	background-color:white;
	border:double 10px gray;
	text-align:center;
	display:block;
	/*visibility: hidden;*/
	transition: top 12s;
    color:black;
}

.floater2 {
    position:fixed;
    bottom:0px;
    left:0px;
    border:solid 1px;
    /*background-color:white;*/
    font-size: 30px;
}



.floater a:hover {
	background-color: #aaa;
	color:black;
}

.toptop {
    position:fixed;
    bottom:10px;
}

.selected {
    background-color:white;
    text-align:center;
    display:block;
    transition: top 3s;
    color:black;
}

.bigfont {
    font-size: 45px;
}

.popup-class {
  position:fixed;
  bottom:0px;
  left:10px;
}


.label {
  color:gray;
  background-color:black;
}



.justify {
    text-align: justify;
    /*width:400px;*/
}


.new-flare {
    /*font-size: 24px;*/
    /*background-color: gray;*/
    /*border: dotted white 2px;*/
    color: white;
    font-family: arial;
    width:400px;
    /*text-align:justify;*/
}

/*Special Table as Used in Taanis 5b.2*/
/*Tree O Tree, Bless Me*/

.less-space td {
    padding:3px;
}

.more-space td {
    padding:20px;
}


.special td {
    padding:10px;
    border:10px solid gray;
    text-align:center;
    /*font-size:30px;*/
}



/* 111 111 111 111 */

.link-area {
    position:fixed;
    right:10px;
    top:150px;
    border:0px solid #ffff00;
    font-size:25px;
    width:250px;
    margin: 2px 2px;
    background-color:#ccc;
    color:white;
}

.links-menu {
    height:50px;
}

.top-title {
    width:100%;
    top:0px;
    font-size:70px;
    text-align:center;
    background-color:#eee;
    font-family: Arial;

}

button {
    width:50px;
    height:50px;
    /*border:2px solid black;*/
    text-align:center;
    border-radius:20px;
    /*padding:3px 3px;*/
    font-size:10px;
}

.main {
    z-index:11;
    position:absolute;
    background-color:black;
    opacity:1.0;
    top:300px;
}

.main td button{
    width:100px;
    height:100px;
    font-size:18px;
    font-family:Courier;

}

.space :hover {
    opacity:1.0;
}


.master {
    z-index:-1;

}

input {
    font-size:40px;
    width:220px;
    height:40px;
    font-family:Times;
    padding:5px 5px;
    background-color:#aaa;
    color:white;
    text-align:center;
}

* {
    font-family:Times;
}

.right-side {
    position:fixed;
    right:0%;
}

.main-tables {
    position:absolute;
    left:0px;
    top:0px;
}

.numberCount {
    border:2px solid blue;
}

.skinny {
    height:0px;
    width:0px;
}

.like-area {
    border:3px solid blue;
    width:50px;
}

.long {
    width:1200px;
}

.title-animate {
    font-size:30px;
    border:2px solid blue;
}

.title-animate:hover {
    font-family:arial;
    font-weight:bold;
}






/*
  _____   _____   _____   _____   _____   _____   _____   _____   _____   _____   _____ 
 |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____|
 |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____|
                                                                                                                                                                               
*/
/*
  __  __      _      ___   _   _      ____   ____    ____  
 |  \/  |    / \    |_ _| | \ | |    / ___| / ___|  / ___| 
 | |\/| |   / _ \    | |  |  \| |   | |     \___ \  \___ \ 
 | |  | |  / ___ \   | |  | |\  |   | |___   ___) |  ___) |
 |_|  |_| /_/   \_\ |___| |_| \_|    \____| |____/  |____/ 
                                                           
*/
/*
  _____   _____   _____   _____   _____   _____   _____   _____   _____   _____   _____ 
 |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____|
 |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____|
                                                                                                                                                                                
*/

.yellow { background-color: gold; }
.gray   { background-color: silver; }
.red    { background-color: white; color:red;}
.blue   { background-color: white; color:#6666ff; }
.green   { background-color: #44ff44; }
.purple   { background-color: #aa33ff; }
.brown   { background-color: #aa6633; }
.white   { color:white; }
.black   { background-color:black; color:white;}

.c1 { background-color: gold; }
.c2   { background-color: silver; }
.c3  { background-color: red; }
.c4 { background-color: #6666ff; }
.c5  { background-color: #44ff44; }
.c6   { background-color: #aa33ff; }
.c7  { background-color: #aa6633; }


.master {
	position:absolute;
	top:100px;
	border:10px solid;
	width:100%;
	font-size:25px;
}

.longer {
	width:90%;
}


.master-above {
	position:absolute;
	left:50px;
}

.master2-above {
	position:absolute;
	right:50px;
}

.main {
	font-size:20px;
	position:fixed;
	top:50px;
}

.top-buttons1 {
  border:3px double gray;
  padding:2px 13px;
  top:10%;
  right:20%;
  z-index:10;
  font-size:20px;
  background-color:black;
  color:white;
  position:fixed;
  height:200px;
  overflow-y:auto;

}

.top-buttons2 {
	border:3px double gray;
	padding:2px 13px;
	position:fixed;
	top:10%;
	right:5%;
	z-index:5;
	background-color:silver;
}

.top-buttons3 {
	border:3px double gray;
	padding:2px 13px;
	position:fixed;
	top:0%;
	left:40%;
  width:40%;
  height:95%;
	z-index:5;
	background-color:red;
}

.top-buttons4 {
	border:3px double gray;
	padding:2px 13px;
	position:fixed;
	top:10%;
	right:5%;
	z-index:5;
	background-color:#6666ff;
}


.top-buttons5 {
	border:3px double gray;
	padding:2px 13px;
	position:fixed;
	bottom:0%;
  width:95%;
  height:20%;
	z-index:5;
	background-color:#66ff66;
}

.top-buttons6 {
	border:3px double gray;
	padding:2px 13px;
	position:fixed;
	top:10%;
	right:5%;
	z-index:5;
	background-color:#aa33ff;
}

.top-buttons7 {
	border:0px double gray;
	padding:0px 0px;
	position:fixed;
	top:0%;
	right:0%;
	z-index:5;
	background-color:#aa6633;
	width:100%;
  height:100%;
}



.space {
	font-size:10px;
	color:black;
	width:50px;
	height:50px;
	position:relative;
	left:0%;
	/*background-image: url(../IMAGES/logo.png); */

}

.larger {
	/*width:150px;*/
	font-size:30px;

}

.center {
	text-align:center;
	font-size:30px;
}

.all-items {
	width:90%;
	border: 10px solid black;
}

.all-items td {
	border:1px solid grey;
	font-size:20px;
}

option {
	font-size:30px;
}

.top-stuff {
	height:100px;
}

.title-area {
	font-size:40px;
	margin:0px 0px;
	/*cursor:copy;*/
}

.title-area:hover {
	opacity:0.3;
	background-color:black;
	color:white;
}

.large-button {
	width:100px;
	font-size:20px;
}

.top-table {
  background-color:silver;
  position:fixed;
  font-size:20px;
  right:130px;
  top:10px;
  /*width:200px;*/
}

.top-table td {
	/*border:3px solid gray;*/
	font-size:20px;
  padding:10px;
}

.big-button {
	width:110px;
	border-radius:0px;
	font-size:25px;
}

img {
	width:60px;
	height:60px;
	border-radius:10px;
	top:5px;
	border:3px double silver;
	display:inline-block;
	position:relative;
	/*margin-top: -5px;*/
    /*margin-left:-30px;*/
    opacity:0.5;
}

/*
img:hover {
	margin-top: -15px;
    margin-left:-15px;
}*/


.space:hover {
	opacity:0.5;
	border:5px double silver;
	color:white;
}


.top-table:hover {
	/*border:10px double silver;*/
	background-color:gray;
}

.main-icon {
  padding:10px 10px;
  width:100px;
  height:100px;
}

.main-icon:hover {
	opacity:0.5;
}

.corner {
	position:relative;
	top:-60px;
	right:10px;
	font-size:16px;
	border:3px solid silver;
	color:black;
	/*background-color:black;*/
	width:30px;
	height:30px;
	border-radius:30px;
	color:white;
}

.cool {
color: #e0dfdc;
background: #556677;
letter-spacing: .1em;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
}

.controls {
	position:fixed;
	left:20%;
	width:20%;
	/*border-radius:300px;*/
  /*font-size:100px;*/
}

.nav:hover {
	opacity:0.5;
	border:3px solid silver
}

.nav {
	width:150px;
	height:50px;
  font-size:30px;
	border:4px ridge silver
}

.Seven-Popout-Menu {
  position:fixed;
  right:40px;
  top:410px;
  width:100px;
  border-radius:100px;
}

.square-buttons {
	position:fixed;
	top:0px;
	left:2%;
}


.znav {
	width:40px;
	height:40px;
	border-radius:0px;
  font-size:20px;
}


.float-table1 {
	float:left;

}

.float-table2 {
	float:left;
  width:350px;
}

.float-table3 {
	float:left;
  width:350px;
}

.float-table4 {
	float:left;
  width:350px;
}

.float-table5 {
	float:left;
  width:350px;
}

.features td {
	/*width:100px;*/
	/*height:100px;*/
	border: 4px solid gray;
	text-align:center;
}

.features {
	border:2px solid blue;
}

.sideways {
	color:black;
	line-height:1.4;
	font-size:25px;
	width:15px;
	writing-mode: vertical-rl;
	transform:rotate(360deg);
	transform-origin:top-left;
	border:0px;
}

.main td {
	color:white;
}

.big-image {
	width:200px;
	height:200px;
}

/*
  _____    ___    ____       _      _   _     _       ___   ____    _____ 
 |_   _|  / _ \  |  _ \     / \    | | | |   | |     |_ _| / ___|  |_   _|
   | |   | | | | | |_) |   / _ \   | |_| |   | |      | |  \___ \    | |  
   | |   | |_| | |  _ <   / ___ \  |  _  |   | |___   | |   ___) |   | |  
   |_|    \___/  |_| \_\ /_/   \_\ |_| |_|   |_____| |___| |____/    |_|  

 */
 
.torah-listing {
  position:fixed;
  top:10px;
  right:25%;
  width:100px;
  text-align:center;
}



/*
  __  __      _      ____    _____    ____   _   _   _____      _        _       ___   ____    _____ 
 |  \/  |    / \    / ___|  | ____|  / ___| | | | | |_   _|    / \      | |     |_ _| / ___|  |_   _|
 | |\/| |   / _ \   \___ \  |  _|   | |     | |_| |   | |     / _ \     | |      | |  \___ \    | |  
 | |  | |  / ___ \   ___) | | |___  | |___  |  _  |   | |    / ___ \    | |___   | |   ___) |   | |  
 |_|  |_| /_/   \_\ |____/  |_____|  \____| |_| |_|   |_|   /_/   \_\   |_____| |___| |____/    |_|  
                                                                                                     
 */

.masechta-listing {
	position:fixed;
	top:10px;
	right:10%;
	width:100px;
  text-align:center;
}

select {
  font-size:18px;
  height:80px;
}

.smaller-image {
	width:30px;
	height:30px;
}

.search-big-box {
  font-size:30px;
  position:fixed;
  right:0px;
  bottom:100px;
  background-color:black;
  color:white;
}

.search-big-area {
  font-size:30px;
  position:fixed;
  right:0px;
  top:0px;
}

.circle-circle {
  border-radius:100px;
}

.tiny-tiny-circle {
  width:50px;
  height:50px;
  margin:12px 6px;
  border-radius:60px;
  float:left;
}

.stats-counter {
  position:fixed;
  bottom:0px;
  left:200px;
  height:100px;
  font-size:80px;
}

.large-red-x {
  font-size:100px;
  color:white;
  background-color:red;
}

.top-right-corner {
  position:absolute;
  top:0px;
  right:0px;
}

.stats-entry {
  font-size:20px;
  width:100px;
}

/* ROW HEIGHT */

.r {
  padding:0px 15px;
  height:150px;
}

tr:nth-child(even) 
{
  background:#ccc;
}

tr:nth-child(odd)
{
  background:#fff;
}

/* NUMBER */

.col1 {
  width:4%;
  font-size:30px;
}

/* VOLUME */

.col2 {
  width:4%;
  font-size:30px;
  text-align:center;

}

/* PAGE */

.col3 {
  width:8%;
  font-size:40px;
  text-align:center;
}

/*TITLE*/

.col4 { 
  font-size:30px;
  padding:0px 5px;
  font-family:Times;
}


/*CUTOUT*/
.col6 {
  font-size:20px;
  padding:10px 20px;
}

/*VERSE*/
.verse {
  font-size:25px;
  background-color:gray;
  color:white;
  padding:1px 1px;
  margin:5px 1px;
  line-height:190%;
}

/*.verse {
    font-size:20px;
    background-color: gray;
    line-height:140%;
    border: ridge silver 3px;
    color: white;
    font-family: Times;
    width:400px;
}*/







/*MAIN FONT*/

* { 
  font-family: Papyrus,fantasy; 
}

.software-panel {
  position:fixed;
  right:0px;
  top:0px;
  height:100%;
  background-color:gray;
  padding:2px 15px;
}

.software-button {
  position:fixed;
  top:50px;
  right:100px;
  width:10px;
  z-index:3;
}

.info-table {
  background-color:black;
  width:450px;
  height:100px;
  color:white;
  padding:5px 5px;
}

.software-area {
  width:120px;
  background-color:brown;
}

.masechta-shape {
  width:200px;
  font-size:40px;
  padding:0px 15px;
}

.page-shape {
  width:80px;
  font-size:40px;
  padding:0px 15px;
}

.history-image {
  width:100px;
  height:100px;
}

.cutout-counter {
  position:fixed;
  right:40%;
  top:0px;
  font-size:90px;
  color:gray;
  font-family:Arial;
}

.cover-image {
  width:100%;
  height:100%;
  background-color:black;
  position:fixed;
  opacity:0.9;
  bottom:0px;
  left:0px;
  z-index:100;
}

.spread-image {
  width:30%;
  height:30%;
  position:fixed;
  /*bottom:300px;*/
  /*right:300px;*/
}


.all-buttons {
  position:fixed;
  bottom:0px;
  left:0px;
}

.large-red-toggle {
  font-size:30px;
  color:white;
  width:40px;
  height:200px;
  background-color:black;
  opacity:1.0;
  z-index:101;
}



/*
  _____   _____   _____   _____   _____   _____   _____   _____   _____   _____   _____ 
 |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____|
 |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____|
                                                                                                                                                                               
*/

/*
     _      _   _   ___   __  __      _      _____   _____      ____   ____    ____  
    / \    | \ | | |_ _| |  \/  |    / \    |_   _| | ____|    / ___| / ___|  / ___| 
   / _ \   |  \| |  | |  | |\/| |   / _ \     | |   |  _|     | |     \___ \  \___ \ 
  / ___ \  | |\  |  | |  | |  | |  / ___ \    | |   | |___    | |___   ___) |  ___) |
 /_/   \_\ |_| \_| |___| |_|  |_| /_/   \_\   |_|   |_____|    \____| |____/  |____/ 
                                                                                     
*/
/*
  _____   _____   _____   _____   _____   _____   _____   _____   _____   _____   _____ 
 |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____|
 |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____| |_____|
                                                                                                                                                                                
*/


/*
     _      _   _   ___   __  __      _      _____   _____      ___    _ 
    / \    | \ | | |_ _| |  \/  |    / \    |_   _| | ____|    / _ \  / |
   / _ \   |  \| |  | |  | |\/| |   / _ \     | |   |  _|     | | | | | |
  / ___ \  | |\  |  | |  | |  | |  / ___ \    | |   | |___    | |_| | | |
 /_/   \_\ |_| \_| |___| |_|  |_| /_/   \_\   |_|   |_____|    \___/  |_|
                                                                                                                                                         
*/

.title-list {
  animation-name: first;
  animation-duration: 1.5s;
}

@keyframes first {
  0%   { top:0px;}
  100% { top:700px;}
}

/*
     _      _   _   ___   __  __      _      _____   _____      ___    ____  
    / \    | \ | | |_ _| |  \/  |    / \    |_   _| | ____|    / _ \  |___ \ 
   / _ \   |  \| |  | |  | |\/| |   / _ \     | |   |  _|     | | | |   __) |
  / ___ \  | |\  |  | |  | |  | |  / ___ \    | |   | |___    | |_| |  / __/ 
 /_/   \_\ |_| \_| |___| |_|  |_| /_/   \_\   |_|   |_____|    \___/  |_____|
                                                                             
*/

.title-list2 {
  animation-name: second;
  animation-duration: 4s;
}

@keyframes second {
  0%   { bottom:0px;}
  50% { bottom:500px;}
  100% { bottom:100px;}
}
/*
     _      _   _   ___   __  __      _      _____   _____      ___    _____ 
    / \    | \ | | |_ _| |  \/  |    / \    |_   _| | ____|    / _ \  |___ / 
   / _ \   |  \| |  | |  | |\/| |   / _ \     | |   |  _|     | | | |   |_ \ 
  / ___ \  | |\  |  | |  | |  | |  / ___ \    | |   | |___    | |_| |  ___) |
 /_/   \_\ |_| \_| |___| |_|  |_| /_/   \_\   |_|   |_____|    \___/  |____/ 
                                                                             
*/

/*
.master {
  animation-name: third;
  animation-duration: 4s;
}

@keyframes third {
  0%   { right:-1000px;}
  50% { right:700px;}
}*/

/*
     _      _   _   ___   __  __      _      _____   _____      ___    _  _   
    / \    | \ | | |_ _| |  \/  |    / \    |_   _| | ____|    / _ \  | || |  
   / _ \   |  \| |  | |  | |\/| |   / _ \     | |   |  _|     | | | | | || |_ 
  / ___ \  | |\  |  | |  | |  | |  / ___ \    | |   | |___    | |_| | |__   _|
 /_/   \_\ |_| \_| |___| |_|  |_| /_/   \_\   |_|   |_____|    \___/     |_|  
                                                                              
*/

button {
  animation-name: fourth;
  animation-duration: 0.5s;
}

@keyframes fourth {
  0%  { width:0%;}
  25%  { font-size:25%;}
  50%  { font-size:50%;}
  100% { font-size:100%;}
} 
/*
     _      _   _   ___   __  __      _      _____   _____      ___    ____  
    / \    | \ | | |_ _| |  \/  |    / \    |_   _| | ____|    / _ \  | ___| 
   / _ \   |  \| |  | |  | |\/| |   / _ \     | |   |  _|     | | | | |___ \ 
  / ___ \  | |\  |  | |  | |  | |  / ___ \    | |   | |___    | |_| |  ___) |
 /_/   \_\ |_| \_| |___| |_|  |_| /_/   \_\   |_|   |_____|    \___/  |____/ 
                                                                             
*/

.outball {
  animation-name: fifth;
  animation-duration: 1s;
  position:relative;
}

@keyframes fifth {
  0%  { background-color:white; opacity:0; right:500px;}
  100% { font-size:110%; opacity:0.9; right:10px;}
} 
/*
     _      _   _   ___   __  __      _      _____   _____      ___     __   
    / \    | \ | | |_ _| |  \/  |    / \    |_   _| | ____|    / _ \   / /_  
   / _ \   |  \| |  | |  | |\/| |   / _ \     | |   |  _|     | | | | | '_ \ 
  / ___ \  | |\  |  | |  | |  | |  / ___ \    | |   | |___    | |_| | | (_) |
 /_/   \_\ |_| \_| |___| |_|  |_| /_/   \_\   |_|   |_____|    \___/   \___/ 

*/

.cover {
  animation-name: sixth;
  animation-duration: 1s;
}

@keyframes sixth {
  0%  { font-size:100px; opacity:0.3;}
  25%  { font-size:90px; opacity:0.5;}
  50%  { font-size:80px; opacity:0.7;}
  100% { font-size:70px; opacity:0.9;}
} 

.space {
  animation-name: sixth;
  animation-duration: 1s;
}

@keyframes sixth {
  0%  { font-size:12px; opacity: 0.1; background-color:white;}
  50% { font-size:15px; opacity: 0.5;}
  100% { font-size:18px; opacity: 0.9;}
} 
/*
     _      _   _   ___   __  __      _      _____   _____      ___    _____ 
    / \    | \ | | |_ _| |  \/  |    / \    |_   _| | ____|    / _ \  |___  |
   / _ \   |  \| |  | |  | |\/| |   / _ \     | |   |  _|     | | | |    / / 
  / ___ \  | |\  |  | |  | |  | |  / ___ \    | |   | |___    | |_| |   / /  
 /_/   \_\ |_| \_| |___| |_|  |_| /_/   \_\   |_|   |_____|    \___/   /_/   
                                                                             
*/

img {
  animation-name: seventh;
  animation-duration: 1s;
}

@keyframes seventh {
  0%  { height:0px; opacity:1.0;}
  50% { height:30px; opacity:0.7;}
  100% { height:60px; opacity:0.7;}
} 
/*
     _      _   _   ___   __  __      _      _____   _____      ___     ___  
    / \    | \ | | |_ _| |  \/  |    / \    |_   _| | ____|    / _ \   ( _ ) 
   / _ \   |  \| |  | |  | |\/| |   / _ \     | |   |  _|     | | | |  / _ \ 
  / ___ \  | |\  |  | |  | |  | |  / ___ \    | |   | |___    | |_| | | (_) |
 /_/   \_\ |_| \_| |___| |_|  |_| /_/   \_\   |_|   |_____|    \___/   \___/ 
                                                                             
*/

.history-image {
  animation-name:eighth;
  animation-duration: 3s;
}

@keyframes eighth {
  0%  { width:0px; opacity:1.0; left:-600px;}
  20%  { width:10px; opacity:1.0;}
  40%  { width:20px; opacity:1.0;}
  100% { width:60px; opacity:0.7;left:0px;}
} 
/*
     _      _   _   ___   __  __      _      _____   _____      ___     ___  
    / \    | \ | | |_ _| |  \/  |    / \    |_   _| | ____|    / _ \   / _ \ 
   / _ \   |  \| |  | |  | |\/| |   / _ \     | |   |  _|     | | | | | (_) |
  / ___ \  | |\  |  | |  | |  | |  / ___ \    | |   | |___    | |_| |  \__, |
 /_/   \_\ |_| \_| |___| |_|  |_| /_/   \_\   |_|   |_____|    \___/     /_/ 
                                                                             
*/

.title-animate {
  animation-name: ninth;
  animation-duration:3s;
}

@keyframes ninth {
  0%  {  font-size:0px; opacity:1.0;}
  20%  { font-size:10px; opacity:1.0;}
  100%  { font-size:30px; opacity:1.0;}
} 


/*
     _      _   _   ___   __  __      _      _____   _____   1   ___   
    / \    | \ | | |_ _| |  \/  |    / \    |_   _| | ____|  1  / _ \  
   / _ \   |  \| |  | |  | |\/| |   / _ \     | |   |  _|    1 | | | | 
  / ___ \  | |\  |  | |  | |  | |  / ___ \    | |   | |___   1 | |_| | 
 /_/   \_\ |_| \_| |___| |_|  |_| /_/   \_\   |_|   |_____|  1  \___/  
                                                                             
*/

.top-buttons1 {
  animation-name:tenth;
  animation-duration: 3s;
}

@keyframes tenth {
  0%     { width: 100%; opacity:0.1; }
  20%    { width: 75%;  opacity:0.2; }
  50%    { width: 50%;  opacity:0.6; }
  100%   { width: 25%;  opacity:1.0; }
} 


/*
     _      _   _   ___   __  __      _      _____   _____   11 
    / \    | \ | | |_ _| |  \/  |    / \    |_   _| | ____|  11 
   / _ \   |  \| |  | |  | |\/| |   / _ \     | |   |  _|    11 
  / ___ \  | |\  |  | |  | |  | |  / ___ \    | |   | |___   11 
 /_/   \_\ |_| \_| |___| |_|  |_| /_/   \_\   |_|   |_____|  11 
                                                                             
*/

.runtext-1 {
  animation-name:eleventh;
  animation-duration: 3s;
}

@keyframes eleventh {
  0%     { width: 0%; opacity:0.5; }
  33%    { width: 100%;  opacity:1.0; }
  66%    { width: 0%;  opacity:0.5; }
  90%    { width: 10%;  opacity:0.8; }
  100%   { width: 100%;  opacity:1.0; }
} 

/*
     _      _   _   ___   __  __      _      _____   _____   12
    / \    | \ | | |_ _| |  \/  |    / \    |_   _| | ____|  12 
   / _ \   |  \| |  | |  | |\/| |   / _ \     | |   |  _|    12 
  / ___ \  | |\  |  | |  | |  | |  / ___ \    | |   | |___   12 
 /_/   \_\ |_| \_| |___| |_|  |_| /_/   \_\   |_|   |_____|  12 
                                                                             
*/


.runtext-2 {
  animation-name:twelfth;
  animation-duration: 5s;
}

@keyframes twelfth {
  0%     { font-size: 5px; opacity:0.5; }
  100%   { font-size: 35px;  opacity:1.0; }
}
